name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 12 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests (without default features)
      run: cargo test --verbose --no-default-features
    - name: Run tests (with all features)
      run: cargo test --verbose --all-features
